body {
	margin: 0;
	background-color: #F6F2F2;
	/*background-color: blue;*/
}

.intro1 {
	display: flex;
	justify-content: center;
	margin: 30px auto 85px auto;
	width: 79.2%;
	/*justify-content: space-around;*/
	min-width: 350px;
	line-height: 78px;
	background-color: #000;
	/*padding-top: 10px;*/
}

.site-menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 30px 0 0;

}


ul {
	padding: 0;
	margin: 0 auto;

}

.site-menu li {
	align-items: center;
	margin: 0 15px;
	/*width: 20%;*/
}

.intro1 ul li:nth-of-type(-n+2) {
	margin-right: 7px;
	padding-top: 11px;
}

.intro1 ul li:nth-of-type(n+3) {
	margin-right: 29px;
	padding-top: 11px;

}

@media screen and (max-width: 524px) {
	.site-menu {
		margin: 0 30px 0 40px;
	}
	.site-menu li {
		width: 35%;
	}
}

.site-menu a {
	font-family: "Open Sans", serif;
	font-weight: 700;
	margin: 0 15px;
	font-size: 14px; 
	text-transform: uppercase;
	color: #E0E0E0;
	text-decoration: none;
}
.space {
	letter-spacing: 5px;
}
.site-menu li:hover {
	background-color: #FF3F40;
}

.intro2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 78px auto 0 auto;
	width: 79.2%;
	justify-content: space-between;
	min-width: 350px;
}

.special1 {
	font-family: "Open Sans", serif;
	font-weight: 800;
	color: #000000;
	font-size: 60px;
	font-style: normal;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 72px;
}

@media (max-width: 501px) {
	.special1 {
		min-width: 350px;
		font-size: 50px;
	}
}

.special2 {
	font-family: "Open Sans", serif;
	font-weight: 400;
	color: #000000;
	opacity: 0.7;
	margin-top: 22px;
	line-height: 27px;
}

.main-wrapper3 {
	padding-top: 20px;
	width: 44%;
	min-width: 350px;

}

div a {
	font-family: "Open Sans", serif;
	font-weight: 700;
}

.intro3 {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
	margin: 95px auto 90px auto;
	padding-top: 60px;
	width: 84%;
	justify-content: space-between;
	min-width: 350px;
}

.intro3 div h2 {

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 42.1902px;
	line-height: 55px;
	display: flex;
	align-items: center;
	letter-spacing: 0.422159px;
	text-transform: uppercase;
	color: #000000;
}

.intro3 div p {

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #000000;
}

.intro3 div h3 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 24.0692px;
	line-height: 0px;
	display: flex;
	align-items: center;
	letter-spacing: 0.271838px;
	color: #000000;
}

.intro3-1 {
	margin-left: 88px;
	flex: 1 1 300px;
	/*margin: 63px 70px 0 0;*/
	/*width: 301;*/
}

.additionaly {
	margin-top: 61px;
}

.additionaly2 {
	margin-top: 56px;
}

.intro4 {
	display: inline-block;
	margin: 60px auto;
    width: 79.2%;
}

.intro4 h2 {
	margin-left: 33px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 41.9876px;
	letter-spacing: 0.3834px;
	text-transform: uppercase;
	color: #000000;
}

.intro4 p {
	margin-left: 33px;
	margin-top: -25px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	color: #000000;
}

.line {
	margin: auto;
	width: 79.2%;
	height: 3px;
	background: #ECECEC;
}

.line-red {
	/*width: 134px;*/
	height: 3px;
	background: #FF2D2D;
	margin: 26px auto 30px auto;
	width: 10%;
}

.intro5 {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	margin-left: 40px;
}

.intro5 a {
	font-family: "Open Sans", serif;
	font-weight: 700;
	margin: 0 25px 0 40px;
	font-size: 14px; 
	text-transform: uppercase;
	color: #E0E0E0;
	text-decoration: none;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 24px;
	color: #000000;
}

.intro6 {
	margin: 60px auto;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	/*flex-direction: column;*/
	/*flex-wrap: wrap;*/
}

.intro6 div {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
}

.intro6 div a {
	margin-bottom: 20px;
}

.intro7 {
	margin: 130px auto 0 auto;
	width: 79.2%;
}
.intro7 h2 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 41.9876px;
	line-height: 0px;
	letter-spacing: 0.3834px;
	text-transform: uppercase;
	color: #000000;
	margin-left: -10px;
}

.intro7 p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	color: #000000;
	margin-top: 47px;
}

.line-red2 {
	height: 2px;
	background: #FF2D2D;
	margin-top: 31px;
	width: 10.5%;
}

.intro8 {
	display: flex;
	position: relative;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 70px auto 100px auto;
	width: 79.2%;
}

.intro8 h2 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 30.127px;
	line-height: 0px;
	letter-spacing: 0.275265px;
	text-transform: uppercase;
	color: #000000;
}

.intro8 p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	color: #000000;
	margin-top: 30px;
}

.intro8-1 {
	position: absolute;
	left: 390px;
	top: 5px;
}

.intro8-2 {
	display: flex;
	list-style: none;
	justify-content: flex-start;
}

.intro8-2 li {
	margin-top: 30px;
}

.intro8-2 a {
	font-family: Open Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.9px;
	color: #000000;
	text-decoration: none;
	margin-right: 30px;
}

.intro8-3 {
	display: flex;
	flex-wrap: wrap;
/*	position: relative;*/
	/*justify-content: flex-end;*/
	align-items: flex-end;
	margin: 0 0 0 30px;
}

.intro8-3 a {
	margin-left: 20px;
}

.intro9 {
	background: #313030;
	margin: 0 auto;
	padding-top: 110px;
	padding-bottom: 82px;
}

.intro9 h2 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	align-items: center;
	text-align: center;
	letter-spacing: 1.05px;
	color: #FFFFFF;
}

.intro9 p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	margin-top: -27px;
}

.intro9-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 55px auto;
	width: 70%;
}

.sp1 {
	width: 524px;
	align-items: center;
	/*text-align: center;*/
	background-color: #FFFFFF;
	 
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 82px;
	letter-spacing: 0.4px;
	margin-right: 10px;
}

/*.sp1 a {
	text-decoration: none;
	color: #2C2C2C;
	margin-left: 40px;
}*/


.sp2 {
	width: 217px;
	/*height: 82px;*/
	align-items: center;
	text-align: center;
	background: #FF2D2D;
	margin-left: 10px;
	color: #FFFFFF;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 17.9026px;
	letter-spacing: 0.317046px;
	text-transform: uppercase;
	line-height: 82px; 
}

./*sp2 a {
	text-decoration: none;
	color: #FFFFFF;
}*/

.intro10 {
	margin: 125px auto 0 auto;
	width: 79.2%;
}
.intro10 h2 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 41.9876px;
	line-height: 0px;
	letter-spacing: 0.3834px;
	text-transform: uppercase;
	color: #000000;
}

.intro10 p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9953px;
	line-height: 28px;
	color: #000000;
	margin-top: 55px;
}

.line-red3 {
	height: 2px;
	background: #FF2D2D;
	margin-top: 53px;
	width: 10.5%;
}

.intro11 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 75px auto -5px auto;
	width: 79.2%;
	padding-bottom: 110px;
}

.intro11-1 {
	display: flex;
	flex-direction: column;
	/*width: 500px;*/
}

.intro11-1-1 {
	display: flex;
	/*margin: auto;*/
	justify-content: space-between;
	align-items: center;
}

.intro11-1-1 input {
	width: 288px;

	background: #F6F2F2;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9134px;
	line-height: 64px;
	padding-left: 50px;
	color: #000000;

}

/*.intro11-1-1 div a {
	text-decoration: none;
	color: #000000;
	margin-left: 54px;
}
*/
.intro11-1-2 {
	width: 680px; 
	height: 217px;
	background: #F6F2F2; 
	margin: 41px auto;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15.9134px;
	padding-top: 35px;
	padding-left: 50px;
	color: #000000;
}

/*.intro11-1-2 a {
	text-decoration: none;
	
	color: #000000;
	margin-left: 50px;
}*/

.intro11-1-3 {
	/*margin-top: 2px;*/
	width: 731px; 
	background-color: #FF3B3B; 
	line-height: 70px; 

	text-align: center; 

	font-size: 18.0412px; 
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF; 
}

/*.intro11-1-3 a {
	text-decoration: none; 
	color: #FFFFFF; 
}*/

.intro11-2 {
	background-color: #313030;
	margin-right: -165px;
	/*margin-left: 100px;*/
	width: 578px;
	padding-top: 120px;
}

.intro11-2 p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	align-items: center;
	color: #FFFFFF;
	margin-left: 80px;
}


footer {
	/*flex: 0 0 auto;*/

	background-color: #313030;
}

.intro13 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 79.2%;
	height: 113px;
	margin: 0 auto;
	min-width: 350px;
}

.intro13 p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	padding-top: 19px;
}

.intro13 div {
	padding-top: 22px;
}

.intro13 div a {
	margin-left: 15px;
}
